@using System.Globalization;
@{
    ViewData["Title"] = "Client info";
}
@model GymSite.Models.Views.ClientInfo;

<h2>Client information</h2>

<table class="table">
<tr>
    <td>Client</td>
    <td>@Model.LastName, @Model.FirstName<br />
    @Model.Gender<br />
    @Model.DateOfBirth.ToString("dd/MM/yyyy")
    </td>
</tr>
@if (Model.HasAbonement){
<tr>
    <td>Abonement</td>
    <td>Ordered at: @Model.StartDate.ToString("dd/MM/yyyy")<br/>
    Last day: @Model.EndDate.ToString("dd/MM/yyyy")
    </td>
</tr>
<tr>
    <td>Training<br />
    <a class="btn btn-outline-dark" asp-action="Train" asp-route-id="@Model.ID">Schedule training</a></td>
    <td>@Model.Description<br />
    Abonement costs @Model.Cost.ToString("c")
    </td>
</tr>
} else {
<tr>
    <td>Client has no abonement!</td>
    <td><a class="btn btn-outline-dark" asp-action="AddCard" asp-route-idClient="@Model.ID">Make new</a></td>
</tr>
}
</table>