@using System.Collections.Generic;
@using GymSite.Models;
@{
    ViewData["Title"] = "Clients Search Results";
}
@model List<Client>;

<h2>Results: @Model.Count.ToString() persons</h2>

<table>
@foreach (Client c in Model)
{
<tr>
    <td>@c.LastName, @c.FirstName (@c.DateOfBirth.ToShortDateString())</td>
    <td><a class="btn btn-outline-dark" asp-action="ClientInfo" asp-route-id="@c.ID">Info</a></td>
</tr>
}
</table>
<a asp-action="Search" class="btn btn-outline-dark">Back to search</a>